body{
    display: block;
    margin: 0;
    padding: 0;
}

.sec1{
    max-width: 100%;
    height: 1100px;
    background-color: rgba(247, 175, 36, 0.1);
}

.div-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 0;
}

.div-portfolio{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.headlines{
    padding-left: 20px;
}

.portfolio-headline{
    color: #5c64cf;
    display: inline-block;
    border: 1px solid #5c64cf;
    padding: 8px 20px;
    transform: rotate(-15deg)
}

.projects-headline{
    font-size: 60px;
    margin: 10px 0px;
    font-family: sans-serif;
}

img{
    cursor: pointer;
}

.sec2{
    max-width: 100%;
    height: 1100px;
    background-color: #FFFFFF;
    display: grid;
    position: relative;
}

.div-reviews{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 100px;
}

.head-review{
    text-align: left;
    padding: 10px 20px;
}

.review-card-div{
    padding: 0;
    display: flex;
}