body{
    display: block;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* section 1 */

.sec1{
    max-width: 100%;
    height: 1100px;
    background-color: rgba(247, 175, 36, 0.1);
}

.div-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 0;
}

.div-portfolio{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.headlines{
    padding-left: 20px;
}

.portfolio-headline{
    color: #5c64cf;
    display: inline-block;
    border: 1px solid #5c64cf;
    padding: 8px 20px;
    transform: rotate(-15deg)
}

.projects-headline{
    font-size: 60px;
    margin: 10px 0px;
    font-family: sans-serif;
}

img{
    cursor: pointer;
}


/* section 2 */

.sec2{
    max-width: 100%;
    height: 1000px;
    background-color: #FFFFFF;
    display: grid;
    position: relative;
}

.div-reviews{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 100px;
}

.head-review{
    text-align: left;
    padding: 10px 20px;
}

.review-card-div{
    padding: 0;
    display: flex;
}

/* section 3 */

.sec3{
    max-width: 100%;
    height: 800px;
    background-color: rgba(247, 175, 36, 0.1);
    display: grid;
    position: relative;
}

.div-contacts{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.head-contacts{
    text-align: left;
    padding: 10px 20px;
}

.get-in-touch{
    border: 2px solid #18171c;
    padding: 35px;
    background: #FFFFFF;
}

.get-in-touch h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 10px;

}

.get-in-touch h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.get-in-touch h5{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

.git-txt{
    margin-bottom: 60px;
}

.get-in-touch input{
    border-radius: 0;
    border: 1px solid #18171c;
    box-shadow: none;
    padding: 0.575rem 0.75rem;
    height: 20px;
    text-align: left; 
    vertical-align: top;
}

.abcd-123{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin-top: -30px;
}

.abcd-123 input{
    width: 240px;
}

.subject input{
    width: 95%;
}

.your-message input{
    width: 95%;
    height: 60px;
    resize: none;
}

.send-message{
    background: #f7af24;
    border-color: #18171c;
    color: #18171c;
    margin-top: 30px;
    padding: 15px 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease-in;
}

.send-message:hover{
    background: #18171c;
    color:aliceblue;
}

.contact-us{
    border: 1px solid #18171c;
    width: 20%;
    height: 100px;
    margin: 20px;
}

.contact-body{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}